<% if (categories && categories.length> 0) { %>
    <% categories.forEach(cat=> { %>
        <div>
            <h3>
                <%= cat.name %>
            </h3>
        </div>
        <% }) %>
            <% } else { %>
                <p>No categories found.</p>
                <% } %>