<%- include('partials/header', { title }) %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Products content goes here.</p>
    </main>

    <%- include('partials/footer') %>